body {
    width: 1900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #ffffff;
    height: 100%;
    font-family: Gilroy;
    color: #333333;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    height: 110px;
    margin-bottom: 33px;
  }
  
  .header__logo img {
    margin-left: 170px;
    margin-top: 34px;
    width: 135px;
    height: 43px;
    object-fit: contain;
  }

  .navbar {
    display: flex;
    width: 750px;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #333333;
    margin-top: 47px;
  }

  .navbar__item {
    padding: 0 10px 0 10px;
  }

  .navbar__item:hover {
    opacity: 0.5;
    text-decoration: underline;
    cursor: pointer;
  }

  .header__button {
    width: 200px;
    height: 48px;
    margin-top: 33px;
    margin-right: 170px;
    border: 2px solid #333333;
    border-radius: 5px;
    background-color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }

  .header__button:hover {
    background: #cccccc;
    cursor: pointer;
  }

  .banner1 {
    display: flex;
    align-items: center;
    position: relative;
  }

  .banner1 img {
    margin-left: auto;
    margin-right: auto;
  }

  .banner1__text {
    z-index: 1;
    position: absolute;
    width: 567px;
    margin-left: 378px;
  }

  .banner1__text h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 26px;
    margin-top: 0;
  }

  .banner1__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 46px;
  }

  .banner1__button {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    background: #3454F5;
    border-radius: 5px;
    width: 355px;
    height: 72px;
    border: 0;
  }

  .banner1__button:hover {
    background: #3454f5bb;
    cursor: pointer;
  }

  .paragraph1 {
    display: flex;
    margin-top: 100px;
  }

  .paragraph1__left {
    display: flex;
    flex-direction: column;
  }

  .paragraph1__left-text {
    margin-left: 370px;
    z-index: 1;
    width: 630px;
  }

  .paragraph1__left-text h2 {
    font-size: 40px;
    line-height: 48px;
  }

  .paragraph1__left-text p {
    font-size: 20px;
    line-height: 32px;
    width: 485px;
  }

  .paragraph1__left-image {
    margin-left: 200px;
    margin-top: 230px;
    width: 617px;
    height: 760px;
    position: absolute;
    z-index: 0;
  }

  .paragraph1__right {
    z-index: 1;
    width: 480px;
    margin-left: 70px;
    margin-top: 260px;
  }

  .paragraph1__right h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .paragraph1__right-box1 {
    margin-bottom: 80px;
  }

  .paragraph1__right-box1 img {
    width: 175px;
    height: 123px;
    margin-left: -35px;
  }

  .paragraph1__right-box2 {
    margin-bottom: 80px;
  }

  .paragraph1__right-box2 img {
    width: 110px;
  }

  .paragraph1__right-box3 {
    margin-bottom: 80px;
  }

  .paragraph1__right-box3 img {
    width: 100px;
  }

  .paragraph1__right-box4 {
    margin-bottom: 180px;
  }

  .paragraph1__right-box4 img {
    width: 100px;
  }

  .banner2 {
    position: relative;
    display: flex;
  }

  .banner2__container {
    position: absolute;
    width: 750px;
    color: #ffffff;
    text-align: center;
    top: 35%;
    left: 30%;
  }

  .banner2__container p {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    font-style: normal;
  }

  .paragraph2 {
    margin-left: 350px;
    margin-right: 370px;
    margin-top: 155px;
  }

  .paragraph2__container {
    display: flex;
    margin-bottom: 140px;
  }

  .paragraph2__container img {
    background: #FFFFFF;
    border: 5px solid #3A3A3A;
    box-sizing: border-box;
    box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-right: 80px
  }

  .paragraph2__container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    line-height: 150%;
  }

  .paragraph2__header-text p {
    width: 435px;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
  }

  .paragraph2__list1 {
    list-style: none;
    margin: 15px 0 0 0;
    font-size: 18px;
    line-height: 28px;
    padding: 0;
  }

  .paragraph2__list1 li::before {
    content: '+';
    color: blue;
    margin-right: 10px;
  }

  .paragraph2__list2 {
    list-style-type: none;
    color: red;
    font-size: 18px;
    line-height: 28px;
    margin-block-start: 0;
    padding: 0;
  }

  .paragraph2__list2 li::before {
    content: '-';
    color: red;
    margin-right: 10px;
  }

  .paragraph2__order {
    background: #EFF7FF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    margin-bottom: 140px;
    height: 495px;
  }

  .paragraph2__order-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
    width: 630px;
  }

  .paragraph2__order-submitform1 {
    display: flex;
    margin-top: 20px;
  }

  .paragraph2__order-submitform1 input {
    background: #FFFFFF;
    border-radius: 5px;
    border-width: 0px;
    height: 72px;
    width: 260px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #999999;
    padding-left: 20px;
  }

  .paragraph2__order-input1 input {
    margin-right: 20px;
    width: 265px;
  }

  .paragraph2__order-input2 input {
    width: 272px;
  }

  .paragraph2__order-button {
    display: flex;
    margin-top: 20px;
  }

  .paragraph2__button {
    background: #3454F5;
    border-radius: 5px;
    padding: 24px 80px;
    border-width: 0px;
    width: 287px;
    color: white;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-right: 20px;
  }

  .paragraph2__button:hover {
    background: #3454f5bb;
    cursor: pointer;
  }

  .paragraph2__order-text {
    display: flex;
    align-items: center;
    width: 257px;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
  }

  .banner3 {
    height: 346px;
    background-color: #eff7ff;
  }

  .banner3 h2 {
    font-size: 40px;
    line-height: 48px;
    margin-left: 370px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .banner3__container {
    display: flex;
    margin-left: 360px;
  }

  .banner3__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-color: white;
    width: 380px;
    height: 88px;
    margin: 0 10px 0 10px;
  }

  .banner3__image1, .banner3__image2, .banner3__image3 {
    object-fit: contain;
  }

  .banner3__image1 {
    width: 120px;
  }

  .banner3__image2 {
    width: 126px;
  }

  .banner3__image3 {
    width: 232px;
  }

  .cases {
    margin-top: 140px;
    margin-left: 370px;
  }

  .cases h2 {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
  }

  .case__container {
    display: flex;
    height: 400px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 40px;
    margin-right: 50px;

  }

  .case__container-image:hover > .case__image-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
  }

  .case__image {
    width: 680px;
    height: 400px;
    border-radius: 15px;
    background-color: white;
  }

  .case__image-hover {
    display: none;
    background-color: #3454F5;
    opacity: 0.9;
    border-radius: 15px;
    width: 680px;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: -404px;
    cursor: pointer
  }

  .case__image-hover text {
    margin-top: 16px;
  }

  .case__image-hover img {
    background-color: #3454f5;
    width: 48px;
    height: 48px;
  }

  .case__container-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
    height: 400px;
  }

  .case__container-info img {
    margin-top: 32px;
  }

  .case__logo1 {
    width: 320px;
  }

  .case__logo2 {
    width: 160px;
  }

  .case__logo3 {
    width: 174px;
  }

  .case__container-info h3 {
    font-size: 20px;
    line-height: 32px;
    margin-top: 20px;
  }

  .case__info-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3454F5;
    background: #EFF7FF;
    border-radius: 5px;
    width: 96px;
    margin-right: 17px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
  }

  .case__info h4 {
    margin-block-end: 0;
    margin-block-start: 0;
  }

  .case__info {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
  }

  .request-form {
    background-color: #3454F5;
    color: #FFFFFF;
    padding-left: 370px;
    height: 460px;
    margin-top: 140px;
  }

  .request-form h2 {
    margin: 80px 0 0 0;
    font-size: 40px;
    line-height: 48px;
  }

  .request-form p {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .request-form__info {
    display: flex;
    margin-top: 30px;
    margin-bottom: 48px;
    align-items: center;
  }

  .request-form__info p {
    width: 344px;
  }

  .request-form__price {
    color: #333333;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 5px;
    width: 144px;
    height: 56px;
    margin-left: 15px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .request-form__container {
    display: flex;
  }

  .request-form__submit {
    display: flex;
    align-items: center;
  }

  .request-form__submit input {
    width: 356px;
    height: 72px;
    background: #FFFFFF;
    border-radius: 5px;
    border-width: 0px;
    padding: 0 0 0 24px;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 28px;
    margin-right: 14px;
  }

  .request-form__button {
    width: 393px;
    height: 72px;
    background: #FFE818;
    border-radius: 5px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    border-width: 0px;
  }

  .request-form__button:hover {
    background: #FFFF00aa;
    cursor: pointer;
  }

  .request-form__text p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
  }

  .team {
    margin-top: 140px;
    margin-left: 370px;
  }

  .team h2 {
    margin: 0px;
    font-size: 40px;
    line-height: 48px;
  }

  .team p {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .team img {
    background: #C4C4C4;
    border-radius: 10px;
    margin-top: 50px;
  }

  .team-info {
    display: flex;
    align-items: center;
    margin-bottom: 140px;
    margin-top: 40px;
  }

  .team-info p {
    margin-block-start: 0px;
    margin-bottom: 0px;
    width: 457px;
    height: 112px;
    margin-right: 193px;
  }

  .team-info__right {
    display: flex;
    align-items: center;
  }

  .team-info__right img {
    border: 2px solid #333333;
    border-radius: 51px;
    background-color: #333333;
    box-sizing: border-box;
    width: 101px;
    height: 101px;
    margin-right: 31px;
    margin-top: 0px;
  }

  .team-info__right p {
    display: flex;
    align-items: center;
  }

  .team-functions {
    display: flex;
  }

  .team-functions__container {
    width: 380px;
    height: 460px;
    margin-right: 20px;
    background: #EFF7FF;
  }

  .team-functions__content {
    display: flex;
    flex-direction: column;
  }

  .team-functions__content-text {
    margin-top: 40px;
    margin-left: 40px;
  }

  .team-functions__container img {
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 0px;
    background: 0;
    margin-top: 160px;
    margin-left: 80px;
  }

  .team-functions__container h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .tag {
    font-size: 12px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    padding: 4px 8px;
    background: #FFFFFF;
    border-radius: 4px;
    border-width: 0;
    flex: none;
    align-self: center;
    margin-right: 8px;
    margin-bottom: 8px;
    max-width: fit-content;
  }

  .tags__row1, .tags__row2, .tags__row3 {
    display: flex;
    margin-left: 40px;
  }

  .team-functions__content-link {
    position: absolute;
  }

  .team-functions__content-link img {
    width: 80px;
    height: 80px;
    margin-top: 380px;
    margin-left: 0px;
  }

  .team-functions__content-link img:hover {
    opacity: 0.7;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding-left: 370px;
    padding-top: 95px;
    margin-top: 140px;
    height: 443px;
    background: #2E3646;
    color: #FFFFFF;
  }

  .footer__logo img {
    width: 135px;
    height: 43px;
    margin-bottom: 53px;
  }

  .footer h3 {
    font-size: 18px;
    line-height: 28px;
    margin-block-start: 0px;
    margin-block-end: 4px;
  }

  .footer p {
    font-size: 14px;
    line-height: 24px;
  }

  .footer__container a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
  }

  .footer__menu {
    display: flex;
    justify-content: space-between;
    width: 1150px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
  }

  .footer__container p {
    margin-block-start: 12px;
    margin-block-end: 0px;
  }

  .footer__container-button {
    margin-top: 12px;
  }

  .footer__container-button a:hover {
    text-decoration: underline;
    opacity: 0.5;
  }

  .footer__contact {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }

  .footer__contact a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
  }

  .footer__contact a:hover {
    text-decoration: underline;
    opacity: 0.5;
  }

  .footer__contact img {
    margin-right: 16px;
    width: 20px;
    height: 20px;
  }

  .footer__contact p {
    font-size: 14px;
    line-height: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .footer__links {
    display: flex;
    margin-top: 12px;
  }

  .footer__link {
    margin-right: 16px;
  }

  .footer__link img:hover {
    opacity: 0.5;
  }